body {
  font-family: Bebas Neue;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to bottom, #83b5d3, #d7e4eb);
}
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}
.Logo {
  display: flex;
  align-items: flex-start;
}
.nav-bar-button {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.button {
  color: #e8edf2;
  text-decoration: none;
  font-size: 20px;
}
.button:hover {
  color: #83b5d3;
}
.language {
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang-button {
  color: #000000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.Hero {
  width: 1440px;
  height: 773px;
  background-image: url(/Hero.png);
  background-size: cover;
  margin: auto;
}

.Transparent,
.Year {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 0.8;
  color: #e8edf2;
}
.BIG {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 250px;
  line-height: 100%;
  letter-spacing: 0;
  color: #e8edf2;
  margin: -80px;
}
.showcase {
  width: 1440px;
  height: 512px;
  background-image: url(/content_background.png);
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.hover_item {
  width: 240px;
  height: 370px;
  position: relative;
  border: 1px solid #83b5d3;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover_item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}
.hover_item img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 40px;
  z-index: 1;
}
.shadow_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -10px;
  top: -10px;
  background-color: rgba(41, 114, 139, 0.25);
  border-radius: 40px;
  z-index: 0;
}
.shadow_2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: rgba(31, 114, 170, 0.46);
  border-radius: 40px;
  z-index: 0;
}
.dest p {
  font-weight: 400;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fdfdfe;
  opacity: 0.8;
  text-align: center;
  padding: auto;
  position: relative;
  z-index: 2;
}
.roadmap {
  width: 1440px;
  height: 1022px;
  background-image: url(/Roadmap\ image.png);
  background-size: cover;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.head h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
}
.motto {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(24, 24, 27, 0.7);
  margin-top: -30px;
}
#containers {
  width: 1200px;
  height: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
.left_container {
  width: 513px;
  height: 640px;
}
.destination {
  width: 513px;
  height: 112px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.destination h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.day {
  width: 52px;
  height: 52px;
  background-color: #f7f6f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GIP;
  font-weight: 500;
  font-style: medium;
  size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.day_1 {
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.day_1 div p {
  margin-top: -10px;
}
.day_1 span {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.back_1 {
  background-color: #eee9d9;
  border-radius: 50px;
}
.back_2 {
  background-color: #8bb8c1;
  border-radius: 50px;
  opacity: 0.8;
}
.back_3 {
  background-color: #aad8d7;
  border-radius: 50px;
  opacity: 0.8;
}
.back_4 {
  background-color: #8bc0bd;
  border-radius: 50px;
  opacity: 0.8;
}
.back_5 {
  background-color: #87cce0;
  border-radius: 50px;
  opacity: 0.8;
}
.right_container {
  width: 647px;
  height: 640px;
}
.back_1:hover {
outline: 5px solid #ffffff;
}
.back_2:hover {
outline: 5px solid #ffffff;
}
.back_3:hover {
outline: 5px solid #ffffff;
}
.back_4:hover {
outline: 5px solid #ffffff;
}
.back_5:hover {
outline: 5px solid #ffffff;
}

.right_container img {
  height: 245px;
  width: 245px;
}
.hover_pin_1 {
  display: none;
}
/* .right_container:hover .hover_pin_1 {
  display: block;
  position: absolute;
  margin-left: 345px;
} */
#containers:has(.back_1:hover) .hover_pin_1 {
  display: block;
  position: absolute;
  margin-top: 70px;
  margin-left: 375px;
}
.hover_pin_2 {
  display: none;
}
#containers:has(.back_2:hover) .hover_pin_2 {
  display: block;
  position: absolute;
  margin-top: -46px;
  margin-left: 164px;
}
.hover_pin_3 {
  display: none;
}
#containers:has(.back_3:hover) .hover_pin_3 {
  display: block;
  position: absolute;
  margin-top: 82px;
  margin-left: 30px;
}
.hover_pin_4{
  display: none;
}
#containers:has(.back_4:hover) .hover_pin_4 {
  display: block;
  position: absolute;
  margin-top: -84px;
  margin-left: -21px;
}.hover_pin_5 {
  display: none;
}
#containers:has(.back_5:hover) .hover_pin_5 {
  display: block;
  position: absolute;
  margin-top: -80px;
  margin-left: 146px;
}
.footer {
  width: 1442px;
  height: 1120px;
  background-image: url(/Price&Footer\ image.png);
  background-size: cover;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot-head h1 {
  margin-top: -500px;
  font-family: Inter;
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
}
.foot-head p {
  margin-top: -15px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(24, 24, 27, 0.7) ;
}
.price_plan {
  margin-top: -120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.plan_1 {
  width: 384px;
  height: 527px;
  position: relative;
  background-color: #fafbfc;
  border-radius: 50px;
}

.price img {
  width: 36px;
  height: 36px;
  margin-top: -10px;
}
.price{
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 50px 0 0 30px
}
.dollar {
  
  padding: 15px 0 0 30px;
}
.dollar h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: -1px;
}
.dollar p {
  margin-top: -10px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #919191;
}
.advantages {
  margin-top: -10px;
  width: 336px;
  height: 180px;
  padding: 15px 0 0 30px;

}
.advantages h1 {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 24px;
}
.advantages img {
  top: -20px;
}
.advantages p {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0%;
}
.button_1{
  margin-top: 60px;
  width: 336px;
  height: 48px;
  border: 1px solid #a4d1e2;
  background-color: #a4d1e2;
  color: #000000;
  border-radius: 20px;
  margin-left: 24px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  line-height: 20px;
}

.plan_2 {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  border-radius: 50px;
}
.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.popular span {
  margin-top: -13px;
  width: 91px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6972b5;
  color: #fafbfc;  
  border-radius: 20px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.plan_1:hover {
  box-shadow: 5px 10px 8px 10px #585858;
}
.price_plan:has(.plan_1:hover) .button_1:hover{
  background-color: rgba(24, 24, 27, 0.9);
  color: #fafafa;
}
.plan_2:hover {
  box-shadow: 5px 10px 8px 10px #585858;
}
.price_plan:has(.plan_2:hover) .button_1:hover{
  background-color: rgba(24, 24, 27, 0.9);
  color: #fafafa;
}

.plan_3 {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  border-radius: 50px;
}
.plan_3:hover {
  box-shadow: 5px 10px 8px 10px #585858;
}
.price_plan:has(.plan_3:hover) .button_1:hover{
  background-color: rgba(24, 24, 27, 0.9);
  color: #fafafa;
}
.foot_bot {
  margin-top: 300px;
  width: 1200px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foot_bot img {
  width: 101px;
  height: 35px;

}
.social_icons {
  width: 358px;
  height: 44px;
  display: flex;
  gap: 20px;
}
.fa-facebook {
  width: 167px;
  height: 44px;
  background-color: #fafbfc;
  border: 1px solid #fafbfc;
  border-radius: 20px;
  color: #6972b5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.fa-facebook p{
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.fa-instagram{
  width: 167px;
  height: 44px;
  background-color: #fafbfc;
  border: 1px solid #fafbfc;
  border-radius: 20px;
  color: #6972b5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.fa-instagram p{
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}